<!-- elastic-node/views/index.template.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cities Search</title>
    <link rel="preload" href="./main.js" as="script">
    <!--  renderStyles()  -->
  </head>
  <body>
    <!--vue-ssr-outlet-->
    <!--  renderState()  -->
    <!--  renderScripts()  -->
    
    <script type="text/javascript"
            src="./main.js"></script>
  </body>
</html>
